* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 80%;
  height: 100%; }

header {
  width: 100%;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0; }
  @media (max-width: 640px) {
    header {
      height: 550px; } }
  @media (min-width: 641px) and (max-width: 960px) {
    header {
      height: 600px; } }
  @media (min-width: 961px) {
    header {
      height: 650px; } }
  header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; }
  header .container {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 2; }
    header .container #headerText {
      height: 100%;
      color: white;
      font-size: 1.8em;
      text-shadow: 2px 2px 1px black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: left; }
      header .container #headerText h1 {
        font-weight: 900; }
      header .container #headerText p {
        letter-spacing: 2px; }
      header .container #headerText .socialMedia {
        display: flex;
        float: left;
        width: 300px;
        font-size: 1.5rem;
        margin-top: 1rem; }
        header .container #headerText .socialMedia div {
          width: 35px;
          height: 35px; }
          header .container #headerText .socialMedia div a {
            color: white; }

#id {
  width: 100%;
  min-height: 500px;
  background-color: #e8e8e8;
  padding-top: 30px; }
  @media (max-width: 640px) {
    #id .container .idPhoto {
      height: 500px;
      width: 100%;
      display: flex; }
      #id .container .idPhoto img {
        border: solid 20px rgba(100, 89, 68, 0.741);
        margin-top: 5%;
        margin-bottom: 5%; }
    #id .container .idInfo {
      min-height: 200px;
      width: 100%;
      font-size: 1rem;
      color: gray;
      padding: 5%; }
      #id .container .idInfo p {
        margin-top: 3%; } }
  @media (min-width: 641px) and (max-width: 960px) {
    #id .container .idPhoto {
      height: 500px;
      width: 100%;
      display: flex; }
      #id .container .idPhoto img {
        border: solid 20px rgba(100, 89, 68, 0.741);
        margin-top: 5%;
        margin-bottom: 5%; }
    #id .container .idInfo {
      min-height: 200px;
      width: 100%;
      font-size: 1rem;
      color: gray;
      padding: 5%; }
      #id .container .idInfo p {
        margin-top: 3%; } }
  @media (min-width: 961px) {
    #id .container {
      display: flex; }
      #id .container .idPhoto {
        height: 500px;
        width: 40%;
        display: flex; }
        #id .container .idPhoto .photoItem {
          width: 80%;
          height: 80%;
          border: solid 20px rgba(100, 89, 68, 0.741);
          margin-top: 17%;
          margin-bottom: 3%;
          position: relative; }
          #id .container .idPhoto .photoItem img {
            position: absolute;
            left: 10%;
            bottom: 10%; }
      #id .container .idInfo {
        height: 500px;
        width: 60%;
        font-size: 1rem;
        color: gray;
        padding: 8%; }
        #id .container .idInfo p {
          margin-top: 3%; } }

#offer {
  width: 100%;
  min-height: 200px;
  background-color: #e8e8e8;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (max-width: 640px) {
    #offer .container .offerBox {
      width: 100%;
      height: 100%; }
      #offer .container .offerBox div {
        width: 100%;
        min-height: 150px;
        padding: 3%; }
        #offer .container .offerBox div i {
          font-size: 3rem;
          color: rgba(100, 89, 68, 0.885); }
        #offer .container .offerBox div h2 {
          margin-top: 4%;
          font-size: 1.3rem;
          font-weight: 900;
          color: rgba(41, 37, 29, 0.885); }
        #offer .container .offerBox div p {
          margin-top: 4%;
          font-size: 0.8rem;
          color: rgba(100, 89, 68, 0.885); } }
  @media (min-width: 641px) and (max-width: 960px) {
    #offer .container .offerBox {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap; }
      #offer .container .offerBox div {
        width: 50%;
        min-height: 150px;
        padding: 3%; }
        #offer .container .offerBox div i {
          font-size: 3rem;
          color: rgba(100, 89, 68, 0.885); }
        #offer .container .offerBox div h2 {
          margin-top: 4%;
          font-size: 1.3rem;
          font-weight: 900;
          color: rgba(41, 37, 29, 0.885); }
        #offer .container .offerBox div p {
          margin-top: 4%;
          font-size: 0.8rem;
          color: rgba(41, 37, 29, 0.885); } }
  @media (min-width: 961px) {
    #offer .container .offerBox {
      width: 100%;
      height: 100%;
      display: flex; }
      #offer .container .offerBox div {
        width: 50%;
        min-height: 150px;
        padding: 1%; }
        #offer .container .offerBox div i {
          font-size: 3rem;
          color: rgba(100, 89, 68, 0.885); }
        #offer .container .offerBox div h2 {
          margin-top: 4%;
          font-size: 1.3rem;
          font-weight: 900;
          color: rgba(41, 37, 29, 0.885); }
        #offer .container .offerBox div p {
          margin-top: 4%;
          font-size: 0.8rem;
          color: rgba(41, 37, 29, 0.885); } }

#portfolio {
  width: 100%;
  min-height: 600px;
  background-color: #e8e8e8; }
