$mobile: "(max-width: 640px)"; //380px, landscape mode: 640px
$tablet: "(min-width: 641px) and (max-width: 960px)"; //landscape mode: 960-980px;
$desktop: "(min-width: 961px)"; //and (max-width: 1240px)
// $hd: "(min-width: 1241px)";

// test RWD, mobile first //passed

header {
    width: 100%;
    border: solid 1px rgb(0, 206, 10);
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    @media #{$mobile} {
        height: 550px;
    }  
    @media #{$tablet} {
        height: 600px;
    }
    @media #{$desktop} {
        height: 650px;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    .container {
        position: absolute;
        top: 0;
        left: 10%;
        z-index: 2;
        // display: flex;
        #headerText {
            height: 100%;
            color: white;
            font-size: 1.8em;
            text-shadow: 2px 2px 1px black;
            // border: solid 1px yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            float: left;
            h1 {
                font-weight: 900;
                // border: solid 1px red;
            }
            p {
                letter-spacing: 2px;
            }
            .socialMedia {
                display: flex;
                float: left;
                // border: solid 1px white;
                width: 300px;
                font-size: 1.5rem;
                margin-top:1rem;
                div {
                    width: 35px;
                    height: 35px;
                    // border: solid 1px red;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
};

