$mobile: "(max-width: 640px)"; //380px, landscape mode: 640px
$tablet: "(min-width: 641px) and (max-width: 960px)"; //landscape mode: 960-980px;
$desktop: "(min-width: 961px)"; //and (max-width: 1240px)
// $hd: "(min-width: 1241px)";


#id {
    width: 100%;
    min-height: 500px;
    border: solid 1px blue;
    background-color: rgb(232, 232, 232);
    padding-top: 30px;
    
    @media #{$mobile} {
        .container {
            .idPhoto {
                height: 500px;
                width: 100%;
                // border: solid 1px red;
                display: flex;
                img {
                    border: solid 20px rgba(100, 89, 68, 0.741);
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
            }
            .idInfo {
                min-height: 200px;
                width: 100%;
                // border: solid 1px red;
                font-size: 1rem;
                color: gray;
                padding: 5%;
                p {
                    margin-top: 3%;
                }
            }
        }
    }
    @media #{$tablet} {
        .container {
            .idPhoto {
                height: 500px;
                width: 100%;
                // border: solid 1px blue;
                display: flex;
                img {
                    border: solid 20px rgba(100, 89, 68, 0.741);
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
            }
            .idInfo {
                min-height: 200px;
                width: 100%;
                // border: solid 1px blue;
                font-size: 1rem;
                color: gray;
                padding: 5%;
                p {
                    margin-top: 3%;
                }
            }
        }
    }
    @media #{$desktop} {
        .container {
            display: flex;
            .idPhoto {
                height: 500px;
                width: 40%;
                // border: solid 1px purple;
                display: flex;
                .photoItem {
                    width: 80%;
                    height: 80%;
                    border: solid 20px rgba(100, 89, 68, 0.741);
                    margin-top: 17%;
                    margin-bottom: 3%;
                    position: relative;
                    img {
                        position: absolute;
                        left: 10%;
                        bottom: 10%;
                    }
                }
            }
            .idInfo {
                height: 500px;
                width: 60%;
                // border: solid 1px purple;
                font-size: 1rem;
                color: gray;
                padding: 8%;
                p {
                    margin-top: 3%;
                }
            }
        }
    }
};