body {
    min-height: 100vh;
    min-width: 100vw;
    // border: solid 1px red;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    height: 100%;
    // border: solid 1px green;
}