* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif; }

header {
  width: 100%;
  height: 600px;
  border: solid 1px red; }
  header .banner {
    width: 100%;
    height: 100%;
    display: flex; }
    header .banner .bannerImg {
      width: 100%;
      height: auto;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
    header .banner .bannerText {
      width: 100%;
      height: 100%;
      color: white;
      z-index: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.486); }
      header .banner .bannerText p {
        padding: 20px;
        font-weight: 600; }
      header .banner .bannerText :nth-child(1) {
        font-size: 30px; }
      header .banner .bannerText :nth-child(2) {
        font-size: 120px; }
      header .banner .bannerText :nth-child(3) {
        font-size: 40px; }
      header .banner .bannerText .btnDownload {
        width: 250px;
        height: 50px;
        color: #5f5534;
        font-size: 18px;
        font-weight: 400;
        background: var(--colorY);
        margin: 20px;
        cursor: pointer;
        border: solid 2px var(--colorY); }
  header .navBar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 14px; }
    header .navBar .smallContainer #logoNav {
      width: 250px;
      font-size: 30px;
      font-weight: 900;
      margin-top: 8px;
      float: left; }
    header .navBar .smallContainer #listNav {
      float: right;
      margin-top: 20px; }
      header .navBar .smallContainer #listNav ul {
        display: flex;
        list-style: none; }
        header .navBar .smallContainer #listNav ul li {
          margin-left: 40px; }
          header .navBar .smallContainer #listNav ul li a {
            text-decoration: none;
            cursor: pointer;
            color: white; }
            header .navBar .smallContainer #listNav ul li a span {
              color: var(--colorY); }

body {
  height: 100vh;
  width: 100vw;
  display: flex; }
  body .bodyImg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; }
  body .container {
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: auto;
    border: solid 1px yellow; }

.smallContainer {
  width: 80%;
  height: 100%;
  border: solid 1px purple; }

:root {
  --colorY: rgb(255, 205, 42);
  --colorLG: rgb(236, 236, 236); }

.quot {
  width: 100%;
  height: 220px;
  background: white; }
  .quot .smallContainer .quotFrame {
    width: 100%;
    height: 180px;
    border: solid 5px var(--colorY);
    margin-top: 20px; }
    .quot .smallContainer .quotFrame p {
      font-size: 30px;
      text-align: center;
      margin-top: 60px; }

.features {
  width: 100%;
  height: 600px;
  background: var(--colorLG); }
  .features .col {
    display: flex;
    padding-top: 30px; }
    .features .col .col33 {
      height: 100%;
      width: 33.33%;
      flex: 1; }
      .features .col .col33 .verse33 {
        min-width: 100%;
        height: 33.33%;
        flex-direction: column;
        display: flex; }
        .features .col .col33 .verse33 .featuresH2 {
          font-size: 22px;
          font-weight: 400;
          margin: 10px; }
          .features .col .col33 .verse33 .featuresH2 .icon {
            width: 40px;
            height: 40px;
            font-size: 30px;
            margin: 10px; }
        .features .col .col33 .verse33 .featuresText2 {
          margin-left: 10px;
          color: gray;
          font-size: 14px; }
      .features .col .col33 .featuresH1 {
        font-size: 35px;
        font-weight: 500;
        margin: 5px;
        margin-bottom: 15px; }
      .features .col .col33 .line {
        width: 50px;
        height: 4px;
        background: black;
        float: left;
        margin-left: 10px; }
      .features .col .col33 .featuresText {
        margin-left: 10px;
        margin-top: 50px;
        color: gray; }

.subscribe {
  width: 100%;
  height: 200px;
  background: rgba(34, 14, 0, 0.383); }
  .subscribe .smallContainer {
    display: flex; }
    .subscribe .smallContainer .subscribeText {
      width: 70%;
      height: 100%;
      padding-top: 4.2%; }
      .subscribe .smallContainer .subscribeText p:nth-child(1) {
        color: white;
        font-size: 26px;
        margin: 10px; }
      .subscribe .smallContainer .subscribeText p:nth-child(2) {
        color: white;
        font-size: 14px; }
    .subscribe .smallContainer .subscribeBtn {
      width: 20%;
      height: 100%; }
      .subscribe .smallContainer .subscribeBtn button {
        width: 210px;
        height: 40px;
        margin-top: 80px;
        background: var(--colorY);
        color: #5f5534;
        border: solid 3px var(--colorY);
        font-size: 16px; }

.portfolio {
  width: 100%;
  height: 400px;
  background: var(--colorLG); }
  .portfolio .smallContainer {
    display: flex;
    padding-top: 30px; }
    .portfolio .smallContainer .col34 {
      height: 100%;
      width: 40%;
      flex: 1; }
      .portfolio .smallContainer .col34 .portfolioH1 {
        font-size: 35px;
        font-weight: 500;
        margin: 5px;
        margin-bottom: 15px; }
      .portfolio .smallContainer .col34 .line {
        width: 50px;
        height: 4px;
        background: black;
        float: left;
        margin-left: 10px; }
      .portfolio .smallContainer .col34 .portfolioText {
        margin-left: 10px;
        margin-top: 50px;
        color: gray; }
    .portfolio .smallContainer .col22 {
      height: 100%;
      width: 20%;
      flex: 1; }
      .portfolio .smallContainer .col22 .verse50 {
        min-width: 100%;
        height: 50%;
        border: solid 1px sienna;
        flex-direction: column;
        display: flex; }
